<div fxLayout="column" fxLayoutAlign="sapce-around center" fxLayoutGap="10px" style="margin-top: 15px">
  
  <div fxFlex="50%" fxFlexFill>
      <mat-grid-list cols="3" rowHeight="3:1" style="background: blue">
          <mat-grid-tile style="margin: 2px; border: black">1</mat-grid-tile>
          <mat-grid-tile style="background: aqua">2</mat-grid-tile>
          <mat-grid-tile>3</mat-grid-tile>
          <mat-grid-tile>4</mat-grid-tile>
          <mat-grid-tile>5</mat-grid-tile>
          <mat-grid-tile>6</mat-grid-tile>
          <mat-grid-tile>7</mat-grid-tile>
          <mat-grid-tile>8</mat-grid-tile>
          <mat-grid-tile>9</mat-grid-tile>
        </mat-grid-list>  
  </div>
  
</div>
